@import "tailwindcss";

@keyframes slide-up-onload {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up-onload 0.7s ease-out forwards;
}
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.poster-text {
    font-weight: 800;
    letter-spacing: -0.02em;
    text-transform: uppercase;

}

::-webkit-scrollbar {
  width: 6px;               
  height: 6px;              
}

::-webkit-scrollbar-track {
  background: #fff;          
  border-left: 1px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;          
  border: none;             
  border-radius: 0;          
}

::-webkit-scrollbar-thumb:hover {
  background: #222;          
}
* {
  scrollbar-width: thin;           
  scrollbar-color: #000 #fff;      
}